@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

html {
	scroll-behavior: smooth;
}

body{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	width: 100vw;
	background-color: #F0F7F4;
}

h1{
	color: #32292F;
	font-family: 'Sedgwick Ave Display';
	font-size: 40pt;
}

h2 {
	margin-top: -2%;
}

h3{
	color: white;
	background-color: #70ABAF;
	width: inherit;
	padding-left: 2%;
}

header {
	padding-top: 30px;
	background-color: #70ABAF;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

header a{
	text-decoration: none;
	color: white;
}

#img_profile{
	width: 15%;
	margin-bottom: -2%;
}

.menu_links {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	list-style: none;
}

li{
	margin: 10px;
}

main{
	width: 60%;
}

/*Configurações para dispositivos moveis*/
@media (max-width: 1000px) {
	main{
		width: 100%;
	}
	#img_profile{
		width: 50%;
	}
	h1{
		font-size: 40pt;
	}
	
	li, h2 {
		font-size: 30pt;
	}
	
	footer h3, p {
		font-size: 30pt;
	}
	
	footer p{
		margin-top: -2%;
	}
}

.certificados{
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	align-content: center;
	justify-content: center;
}

.certificados img{
	width: 200px;
	margin: 7px;
}

footer {
	background-color: #70ABAF;
	color: white;
	margin: 2%;
	width: 96%;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	text-align: center;
}

footer p{
	margin-top: -1%;
}